// Custom Styles of Rosario Perdomo's Project

/* Color Guide */

$red: #BF3B3B;
$grayScale-900: #0D0D0D;
$grayScale-800: #262626;
$grayScale-700: #737373;
$grayScale-600: #BFBFBF;
$grayScale-500: #F2F2F2;

/* Fonts Guide */

$ffHeading: 'Julius Sans One', sans-serif;
$ffText: Montserrat;

// Size Fonts

$fsHeading: 48px;
$fsTitle: 32px;
$fsText: 16px;

// Line Height Guide

$lhText: 24px;

